.App {
  text-align: center;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Tooltip */
.partner .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #282c34;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 20px;
  border: 1px solid #fff;
  font-size: 13px;
  padding: 4px;
  position: absolute;
  z-index: 1;
}

.partner:hover .tooltiptext {
  visibility: visible;
}
